section {
  width: 375px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 20px 0 0 60px;
  box-sizing: border-box;
  position: relative;
}

main {
  font-family: "SFProText-Medium", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  height: 40px;
  display: flex;
  align-content: center;
  padding-right: 13px;
  margin-bottom: 17px;
}

header h1 {
  display: inline;
  font-family: "SFProDisplay-Bold";
  font-size: 32px;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  margin-left: auto;
}

nav img {
  align-self: center;
  width: 24px;
  height: 24px;
}

.todo {
  margin: 0;
  padding: 0;
}
